@font-face {
  font-family: "HallymM.otf";
  src: url('../../fonts/Hallym-OTF/HallymM.otf')
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'HallymM.ttf';
}

.body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.s0_main_container {
  /* border: 0.188rem solid green; */
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  background-image: url('../../images/mainpage.svg');
  background: cover;
}

.s0_main_container_content {
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  scroll-snap-align: start;
  /* border: 0.188rem solid blue; */
}

.s0_mainpage_title {
  animation: slideUp .8s ease-in-out forwards .8s;
  width: 100%;
  height: 100%;
  padding: 10em 0 0 11em;
}

.s0_mainpage_title h1 {
  font-size: 5em;
  padding: 0 0 1.5rem;
}

.s0_mainpage_title h4 {
  /* border: 0.188rem solid red; */
  line-height: 6.8rem;
  font-size: 5.313rem;
  animation: slideUp .8s ease-in-out forwards .8s;
}

.s0_mainpage_btn button {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 0 0 0.38rem 1.25rem;
  width: 280px;
  height: 6.9vh;
  font-size: 1.45em;
  background-color: transparent;
  color: white;
  border: 0.125rem solid rgb(255, 255, 255, 0.07);
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2.6rem;
  transition: 0.7s ease;
  text-decoration-line: none;
  text-shadow: 0.188rem 0.188rem #212121;
}

.s0_mainpage_btn button:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
  text-shadow: 0.063rem 0.063rem #c5c5c5;
}

.s0_mainpage_mouse {
  display: flex;
  justify-content: center;
  align-items: center;
}

.s0_mainpage_mouse img {
  /* border: 3px solid red; */
  background: cover;
  padding-top: 10rem;
  width: 3.2vw;
}

.s1_main_container {
  /* border: 0.188rem solid green; */
  width: 100%;
  height:100vh;
  display: flex;
}

.s1_main_container_content {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  overflow: hidden;
  padding-left: 7rem;
  /* border: 0.188rem solid blue; */
}

.s1_mainpage_title {
  animation: slideUp .8s ease-in-out forwards .8s;
  width: 100%;
  height: 100%;
  padding: 15em 0 0 2.5em;
}

.s1_mainpage_title h1 {
  font-size: 5rem;
  padding: 0 0 2rem;
}

.s1_mainpage_title_underline {
  width: 7em;
  margin: 0 0 1.5rem 0;
  border-bottom: 1px solid black;
}

.s1_mainpage_content p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.s1_mainpage_btn button {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 1.25rem;
  padding-bottom: 0.16rem;
  width: 280px;
  height: 6.9vh;
  font-size: 1.4em;
  background-color: #3E3535;
  color: white;
  border: 0.125rem solid rgb(194, 194, 194);
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2.2rem;
  transition: 0.7s ease;
  text-decoration-line: none;
  text-shadow: 0.188rem 0.188rem #212121;
}

.s1_mainpage_btn button:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
  text-shadow: 0.063rem 0.063rem #c5c5c5;
}

.s1_mainpage_img {
  background: cover;
  width: 62vw;
  height: 90vh;
  /* border: 5px solid red; */
}

.s2_main_container {
  /* border: 0.188rem solid green; */
  width: 100%;
  height:100vh;
  display: flex;
}

.s2_main_container_content {
  width: 100%;
  height: 100vh;
  display: block;
  background-size: cover;
  overflow: hidden;
  /* border: 0.188rem solid blue; */
}

.s2_mainpage_title {
  animation: slideUp .8s ease-in-out forwards .8s;
  width: 100%;
  height: 100%;
  padding: 15em 0 0 9em;
}

.s2_mainpage_title h1 {
  font-size: 5em;
  padding: 0 0 1.2rem;
}

.s2_mainpage_title_underline {
  width: 7em;
  margin: 0 0 1.5rem 0;
  border-bottom: 1px solid black;
}

.s2_mainpage_title h2 {
  font-size: 1.6em;
  padding: 0 0 1.2rem;
}

.s2_mainpage_content p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.s2_mainpage_sphere {
  float: right;
  width: 30em;
  height: 80em;
}

.s2_mainpage_btn button {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 1.25rem;
  padding-bottom: 0.16rem;
  width: 280px;
  height: 6.9vh;
  font-size: 1.45em;
  background-color: transparent;
  color: white;
  border: 0.125rem solid rgb(194, 194, 194);
  border-radius: 15px;
  cursor: pointer;
  margin-top: 2.2rem;
  transition: 0.7s ease;
  text-decoration-line: none;
  text-shadow: 0.188rem 0.188rem #212121;
}

.s2_mainpage_btn button:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
  text-shadow: 0.063rem 0.063rem #c5c5c5;
}

.s3_main_container {
  /* border: 0.188rem solid green; */
  width: 100%;
  height: 100vh;
  overflow: hidden;
  /* background-color: #eeee; */
  /* margin-bottom: 8.6em; */
}

.s3_main_container_content {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
  padding-bottom: 10em;
  /* border: 0.188rem solid orange; */
}

.s3_mainpage_title {
  animation: slideUp .8s ease-in-out forwards .8s;
  text-align: center;
  width: 100%;
  display: block;

  /* 보도자료위치 */
  padding-bottom: 7rem;
}

.s3_mainpage_title h1 {
  font-size: 2.8em;
  /* border: 3px solid red; */
}

.s3_mainpage_news {
  /* border: 3px solid blue; */
  width: 100%;
  display: flex;
}

.s3_mainpage_news_A {
  width: 30%;
  height: 40vh;
  display: block;
  margin-left: 2em;
  /* border: 3px solid red; */
}

.s3_mainpage_news_A img {
  background: cover;
  width: 100%;
  height: 26vh;
}

.s3_mainpage_news_content_A h1{
  width: 100%;
  display: block;
  font-size: 1.3em;
  padding-top: 1em;
}

.s3_mainpage_news_content_A p {
  font-size: 1em;
  line-height: 1.6rem;
  padding-top: 1em;
}

.s3_mainpage_news_B {
  width: 30%;
  height: 40vh;
  display: block;
  margin-left: 2em;
  /* border: 3px solid orange; */
}

.s3_mainpage_news_B img {
  background: cover;
  width: 100%;
  height: 26vh;
}

.s3_mainpage_news_content_B h1{
  width: 100%;
  /* height: 50vh; */
  display: block;
  font-size: 1.3em;
  /* border: 3px solid green; */
  padding-top: 1em;
}

.s3_mainpage_news_content_B p {
  font-size: 1em;
  line-height: 1.6rem;
  padding-top: 1em;
}

.s3_mainpage_news_C {
  width: 30%;
  height: 40vh;
  display: block;
  margin-left: 2em;
  /* border: 3px solid orange; */
}

.s3_mainpage_news_C img {
  background: cover;
  width: 100%;
  height: 26vh;
}

.s3_mainpage_news_content_C h1{
  width: 100%;
  /* height: 50vh; */
  display: block;
  font-size: 1.3em;
  /* border: 3px solid green; */
  padding-top: 1em;
}

.s3_mainpage_news_content_C p {
  font-size: 1em;
  line-height: 1.6rem;
  padding-top: 1em;
}

.s3_mainpage_btn {
  /* border: 3px solid gold; */
  /* margin-bottom: 16rem; */
  align-items: center;
  padding-top: 5em;
}

.s3_mainpage_btn button {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 1.25rem;
  padding-bottom: 0.16rem;
  width: 280px;
  height: 6.9vh;
  font-size: 1.45em;
  background-color: transparent;
  color: white;
  border: 0.125rem solid rgb(194, 194, 194);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.7s ease;
  text-decoration-line: none;
  text-shadow: 0.188rem 0.188rem #212121;
}

.s3_mainpage_btn button:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
  text-shadow: 0.063rem 0.063rem #c5c5c5;
}


/* 보유기술 및 특허 컨테이너 */
.s4_main_container {
  /* border: 0.188rem solid green; */
  width: 100%;
  height: 72vh;
  overflow: hidden;
  /* background-size: cover; */
}

.s4_main_container_content {
  width: 100%;
  /* height: 42vh; */
  background-size: cover;
  display: flex;
  overflow: hidden;
  padding: 2em;
  /* border: 3px solid red; */
}

/* 보유기술 & 연구 및 논문자료 */
.s4_mainpage_title2 {
  display: flex;
  width: 50vw;
  /* border: 3px solid blue; */
}

.s4_mainpage_patent {
  display: block;
  /* border: 3px solid red; */
  /* padding-top: 3rem; */
}

.s4_mainpage_patent h1 {
  display: flex;
  margin-left: 1.1em;
  padding-top: 1.3em;
  /* border: 3px sold orange; */
}

.s4_mainpage_patent h1 span {
  
  /* 화살표 위치조절 */
  margin-left: 19em;
  /* border: 3px solid green; */
}

.s4_mainpage_patent h1 span img {
  /* border: 3px solid red; */
  width: 1.8vw;
  /* 화살표 내부 조절 */
  margin-left: 2.3em; 
}

.s4_mainpage_patent_container {
  display: flex;
  /* border: 3px solid blue; */
  width: 50vw;
  padding-left: 1.2em;
  /* height: 28vh; */
}

.s4_mainpage_patent_container_box1 {
  display: block;
  /* border: 3px solid orange; */
  width: 50vw;
  height: 25vh;
  padding-top: 1em;
  padding-left: 1em;
}

.s4_mainpage_patent_container_box1 h4 {
  margin-top: 1em;
  line-height: 1.6rem;
}

.s4_mainpage_patent_container_box1 p {
  margin-top: 1em;
  line-height: 1.6rem;
}

.s4_mainpage_patent_container_box2 {
  display: block;
  /* border: 3px solid orange; */
  width: 50vw;
  height: 25vh;
  padding-top: 1em;
  padding-left: 1em;
}

.s4_mainpage_patent_container_box2 h4 {
  margin-top: 1em;
  line-height: 1.6rem;
}

.s4_mainpage_patent_container_box2 p {
  margin-top: 1em;
  line-height: 1.6rem;
}





.s4_mainpage_contactus {
  background-image: url('../../images/contactus.jpg');
  background-size: cover;
  /* position: relative; */
  height: 32vh;
  /* width: 100vw; */
}

.s4_mainpage_contactus h1 {
  /* border: 3px solid white; */
  padding: 1.5em 0 0 1.2em;
  color: white;
  font-size: 2.8em;
  text-shadow: 0.1rem 0.1rem #212121;
}

.s4_mainpage_btn {
  /* border: 3px solid gold; */
  /* margin-bottom: 16rem; */
  align-items: center;
  padding: 3.2em 0 0 3em;
}

.s4_mainpage_btn button {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 1.25rem;
  padding-bottom: 0.16rem;
  width: 280px;
  height: 6.9vh;
  font-size: 1.45em;
  background-color: transparent;
  color: white;
  border: 0.2rem solid rgb(300, 300, 300);
  border-radius: 15px;
  cursor: pointer;
  transition: 0.7s ease;
  text-decoration-line: none;
  text-shadow: 0.1rem 0.1rem #212121;
}

.s4_mainpage_btn button:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
  text-shadow: 0.063rem 0.063rem #c5c5c5;
}