.header {
  width: 100%;
  height: 9.7vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}

.header a {
  text-decoration: none;
}

.header h1 {
  /* color: #fff; */
  color: black;
  padding-left: 30px;
  font-size: 43px;
}

.header .menu-nav ul li {
  display: inline-block;
  margin: 0 58px;
  color: black;
  font-size: 18px;
}

.header .right-top-menu {
  display: flex;
}

.header .right-top-menu .language {
  display: block;
  padding-top: 36px;
}

.header .right-top-menu .login-Btn {
  display: inline-block;
  margin: 0 35px 20px;
}

.header .right-top-menu .login-Btn button {
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 27px;
  padding-bottom: 4px;
  width: 125px;
  height: 60px;
  font-size: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 25px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.7s ease;
  text-shadow: 3px 3px #212121;
}

.header .right-top-menu .login-Btn button:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
  text-shadow: 1px 1px #c5c5c5;
}
