.header {
  width: 100%;
  height: 10vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}

.header a {
  text-decoration: none;
  font-size: 1.1em;
}

.header h1 {
  /* color: #fff; */
  color: black;
  padding-left: 1.875em;
  font-size: 2.68em;
}

.header .menu-nav ul li {
  display: inline-block;
  margin: 0 3.625em;
  color: black;
  font-size: 1.18em;
}

.header .right-top-menu {
  display: flex;
  font-size: 1.2em;
}

.header .right-top-menu .language {
  display: block;
  padding-top: 1.55em;
}

.header .right-top-menu .login-Btn {
  display: inline-block;
  margin: 0 2.18em 1.25em;
}

.header .right-top-menu .login-Btn button {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 125px;
  height: 50px;
  font-size: 20px;
  background-color: transparent;
  color: black;
  border: 2px solid rgb(194, 194, 194);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.7s ease;
}

.header .right-top-menu .login-Btn button:hover {
  background: whitesmoke;
  color: rgb(92, 92, 92);
}
