* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#Subnav a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
}

.middle-nav-box {
  width: 100%;
  display: flex;
  /* 내부 글씨 수평 조정 */
  background-color: rgba(44, 63, 92, 0.8);
  position: sticky;
  top: 0px;
}

.middle-nav-contents {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-left: 350px;
  color: white;
}

.middle-nav-box .home-img {
  width: 70px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  cursor: pointer;
  /* margin-left: 300px; */
}

.middle-nav-box .menu {
  width: 210px;
  height: 50px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
}

.middle-nav-box .menu .menu-title {
  width: 158px;
}

.middle-nav-box .menu img {
  margin-right: 23px;
}

.middle-nav-box .section {
  width: 210px;
  height: 50px;
  display: flex;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.middle-nav-box .section .section-title {
  width: 160px;
}

.middle-nav-box .section img {
  margin-right: 23px;
}

#unfold {
  cursor: pointer;
}

#MainNav  {
  background: none;
  display: flex;
}

#MainNav .middle-nav-contents .menu {
  height: 160px;
  background-color: rgba(44, 63, 92, 0.8);
  flex-direction: column;
  align-items: flex-start;
}

#MainNav .middle-nav-contents .home-img {
  border: none;
}

#MainNav .middle-nav-contents .menu div {
  padding-bottom: 15px;
  cursor: pointer;
}

#MainNav .middle-nav-contents .menu img {
  cursor: pointer;
}

/* 2번째 네비 */
#Subnav  {
  background: none;
  display: flex;
}

#Subnav .middle-nav-contents .section {
  height: 160px;
  background-color: rgba(44, 63, 92, 0.8);
  flex-direction: column;
  align-items: flex-start;
  /* border-left: 1px solid white;
  border-right: 1px solid white; */
}

#Subnav .middle-nav-contents .home-img {
  border: none;
}

#Subnav .middle-nav-contents .section div {
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

#Subnav .middle-nav-contents .section img {
  cursor: pointer;
}

#Subnav .middle-nav-contents .section div:hover {
  /* background: #aaa; */
}