* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

/* .top_btn {
    position: fixed; 
    opacity: 0; 
    bottom: 40px; 
    right: 40px;
    z-index: -10; 
    width: 50px; 
    height: 50px;
    border-radius: 100%;
    border: 0 none;
    background: lightpink;
    color: blueviolet;
    border: 2px solid blueviolet;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.06em;
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: opacity 0.3s ease-in;
} */

.sub_header {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.sub_title {
    height: 50px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.sub_menu {

}

.sub_nav {

}

.sub_nav_list {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.sub_nav_list ul li {
    display: inline-block;
    color: black;
}

.content {
    width: 100%;
    margin: 0;
    padding: 0;
}

.section1 {
    width: 75%;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.section2 {
    width: 75%;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.section3 {
    width: 75%;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.section4 {
    width: 75%;
    height: 500px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.title {
    width: 300px;
}

.summary {
    width: 500px;
}

.bottom {
    
}